*body{
    padding:0;
    margin:0;
    background-color: black;

}
.container-fluid{
    padding: 0px;
}
.imgsection{
    margin-top: 20px;
}
.imgsection1{
    margin-top: 20px;
}
img.rounded-circle{
    transition: transform .7s ease-in-out;

}
img.rounded-circle:hover{
    transform: rotate(360deg);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(251, 251, 251);
}
.navbar-light .navbar-nav .nav-link:hover{
color: brown;
}
.social img{

    width: 40px;
    
}
