body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("C:\Users\Raj89\OneDrive\Documents\GitHub\Web_development_projects\project-6\city.img.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 